// Fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Lato', sans-serif;

// Colors
$color-red: #F44336;
$color-black: #000000;
$color-white: #ffffff;
$color-soft-white: #F7F7F7;
$color-aqua: #61AC96;
$color-gold: #A98D4E;
$color-soft-blue: #0880AE;
$color-light-blue: #D1D4E3;
$color-light-blue2: #F7FAFC;
$color-gray: #7A7A7A;
$color-yellow: #EABD00;
$color-light-gray2: #EEEEEE;
$color-light-gray: #87898F;
$color-dark-gray: #414141;
$color-fluo-green: #5EE3B3;
$color-guidelines-dark-gray: #2C2C31;